@tailwind base;
@tailwind components;
@tailwind utilities;

html {}

body {
    @apply bg-color60;
}

.container-default {
    width: min(90%, 1200px);
    left: 0;
    right: 0;
    margin: auto;
}

.text-ala {
    mix-blend-mode: difference;
    /* Mistura de cores "difference" */
}